
@media screen and(min-width: 320px)and (max-width: 768px){


span{
padding: 10px;
    text-align:  right;
    display: flex;
    background-color: beige;
    margin: 10px;
}


.weddinggowns{
    width: 200px;
    margin: 30px;
    border: 3px;
    position: absolute;
    
}
.variety{
    color:pink;
    display: flex;
    display: inline-block;
    display: wrap;
    min-height: 100px;
    justify-content: space-between;
    flex-direction: column;
    justify-content: auto;
    position: relative;

}
.ol li{
    display: inline-block;
    padding: 8px;
    background-color: goldenrod;
    width: 200px;
    float: none;
}


}