h1{
    text-align: center;
    color:skyblue;
}
img{
    background-image: center;
    width: 500px;
    height: 700px;
    align-content: center;
}
p{
    text-decoration-color: orchid;
}
div{
    background-color: blue;
    text-align: center;

}