body{
    background-color: azure;
    font-size: large;

}
ul li.center{
    float: left;
    
    font-size:20px;
    padding: 20px;
}

img{
    float:left;
    width:20%;
    padding:5px;


}
a{
    color:black;
}
p6{
   
    text-align: center;
    color: green;
}
h1{
    text-align: left;
    color:blue;
}
.menu{
    background: navy;
}